@tailwind base;
@tailwind components;
@tailwind utilities;

.activities-table {
	th,
	td {
		padding: 1rem;
	}

	th,
	td {
		text-align: left;
	}

	tbody tr:nth-child(odd) td {
		background: lightgray;
	}
}

.vh {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}
